# Node
node_modules/
dist/
coverage/

# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# Env files
.env
.env.*
!.env.example

# Misc
.DS_Store
mobile-app/pubspec.lock
