/* screen - main */

.main {
  align-items: center;
  background-color: var(--label-colordarkprimary);
  display: flex;
  flex-direction: column;
  gap: 83px;
  height: 1024px;
  width: 1440px;
}

.main .frame-30167 {
  align-items: flex-end;
  display: flex;
  height: 71px;
  min-width: 1440px;
}

.main .overlap-group3 {
  height: 198px;
  margin-bottom: -127px;
  position: relative;
  width: 1440px;
}

.main .overlap-group-1 {
  align-items: center;
  background-color: var(--blue-ribbon);
  display: flex;
  height: 71px;
  left: 0;
  min-width: 1440px;
  padding: 9px 99px;
  position: absolute;
  top: 0;
}

.main .logo {
  align-self: flex-end;
  height: 52px;
  object-fit: cover;
  width: 52px;
}

.main .free-icon-font-search-3917132-1 {
  height: 20px;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  position: relative;
  width: 20px;
}

.main .markets {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 81px;
  margin-top: 5.0px;
  min-width: 55px;
  text-align: center;
  white-space: nowrap;
}

.main .portfolio {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 93px;
  margin-top: 5.0px;
  min-width: 58px;
  text-align: center;
  white-space: nowrap;
}

.main .go-pro {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 95px;
  margin-top: 5.0px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.main .stockly {
  color: var(--label-colordarkprimary);
  font-weight: 700;
  left: 151px;
  line-height: 30px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
  width: 95px;
}

.main .frame-2 {
  align-items: center;
  background-color: var(--label-colordarkprimary);
  border: 1px solid;
  border-color: var(--gray-nurse);
  border-radius: 8px;
  display: flex;
  height: 30px;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 17px;
  position: relative;
  width: 150px;
}

.main .select {
  color: var(--sonic-silver);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .flex-row {
  gap: 38px;
  height: 836px;
  margin-right: 34.0px;
  min-width: 1170px;
}

.main .flex-col {
  flex-direction: column;
  min-height: 836px;
  width: 752px;
}

.main .frame-30127 {
  align-items: flex-start;
  background-blend-mode: darken;
  background-image: url(../img/frame-30127.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 278px;
  overflow: hidden;
  padding: 31px 34px;
  width: 748px;
}

.main .title {
  color: var(--label-colordarkprimary);
  font-weight: 700;
  height: 92px;
  line-height: normal;
  margin-left: 2px;
  width: 600px;
}

.main .overlap-group-2 {
  height: 114px;
  position: relative;
  width: 564px;
}

.main .discover-a-smarter-w {
  color: var(--label-colordarkprimary);
  font-family: var(--font-family-manrope);
  font-size: 17px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 562px;
}

.main .try-for-free {
  color: var(--label-colordarkprimary);
  cursor: pointer;
  font-family: var(--font-family-manrope);
  font-size: 18px;
  font-weight: 800;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 84px;
  width: 120px;
}

.main .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  margin-left: 1px;
  margin-top: 24px;
  min-width: 751px;
}

.main .top-5 {
  align-items: center;
  background-color: var(--label-colordarkprimary);
  border: 1px solid;
  border-color: var(--gray-nurse);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 237px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 10px 23px;
  position: relative;
  width: 392px;
}

.main .frame-30154 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  margin-left: -10.00px;
  margin-right: -10.00px;
  padding: 0px 40px;
  position: relative;
  width: 392px;
}

.main .stocks-you-may-like {
  height: 34px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -80.00px;
  margin-top: -1.00px;
  position: relative;
  width: 392px;
}

.main .frame-30160 {
  height: 34px;
  margin-left: -10.00px;
  margin-right: -10.00px;
  position: relative;
  width: 392px;
}

.main .flex-row-2 {
  align-items: flex-start;
  display: flex;
  left: 20px;
  min-width: 366px;
  position: relative;
  top: -1px;
}

.main .symbol-2 {
  height: 34px;
  text-align: center;
  width: 100px;
}

.main .place-2 {
  color: transparent;
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xs);
  font-weight: 600;
  margin-left: 8px;
  min-height: 34px;
  text-align: center;
  width: 145px;
}

.main .span1 {
  color: var(--label-colorlightprimary);
  font-size: var(--font-size-20px);
}

.main .place-3 {
  height: 34px;
  margin-left: 25px;
  text-align: center;
  width: 88px;
}

.main .line-4 {
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 353px;
}

.main .frame-30155 {
  height: 33px;
  margin-left: -10.00px;
  margin-right: -10.00px;
  position: relative;
  width: 392px;
}

.main .flex-row-3 {
  align-items: center;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  left: 29px;
  min-width: 339px;
  position: relative;
  top: -2px;
}

.main .tsla {
  height: 33px;
  letter-spacing: 0;
  line-height: normal;
  width: 70px;
}

.main .tesla-inc {
  height: 33px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 23px;
  text-align: center;
  width: 109px;
}

.main .text-20 {
  align-self: flex-start;
  height: 33px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 35px;
  text-align: right;
  width: 78px;
}

.main .text-2 {
  height: 33px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 96px;
}

.main .frame-3015 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 25px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.main .place-4 {
  height: 33px;
  left: 24px;
  position: absolute;
  top: -1px;
  width: 70px;
}

.main .meta {
  height: 20px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 20px;
}

.main .popular {
  border: 2px solid;
  border-color: #dfe1e7;
  border-radius: 10px;
  flex-direction: column;
  gap: 20px;
  height: 192px;
  overflow: hidden;
  width: 347px;
}

.main .text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main .symbol {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  display: -webkit-box;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.main .base-graph {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  margin-left: -1.50px;
  margin-right: -1.50px;
  position: relative;
  width: 100%;
}

.main .text-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main .base-graph-1 {
  margin-left: -1.45px;
}

.main .text-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main .symbol-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--eerie-black);
  display: -webkit-box;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.main .base-graph-2 {
  margin-bottom: -1.50px;
  margin-left: -1.50px;
}

.main .text-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main .text-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main .text-6 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main .symbol-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: transparent;
  display: -webkit-box;
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-weight: 700;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.main .span1-1 {
  color: #ffe03f;
}

.main .frame-30128 {
  align-items: flex-start;
  background-color: var(--label-colordarkprimary);
  border: 1px solid;
  border-color: var(--gray-nurse);
  border-radius: 15px;
  display: flex;
  gap: 20px;
  height: 282px;
  margin-left: 1px;
  margin-top: 15px;
  min-width: 741px;
  padding: 9px 15px;
}

.main .flex-col-1 {
  width: 346px;
}

.main .overlap-group {
  height: 67px;
  position: relative;
  width: 330px;
}

.main .top-gainers {
  color: var(--eerie-black);
  font-family: var(--font-family-manrope);
  font-size: 19px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 318px;
}

.main .frame-3014 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 0px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 330px;
}

.main .symbol-1 {
  height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 100px;
}

.main .place {
  height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 154px;
}

.main .place-1 {
  height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 76px;
}

.main .line-2 {
  height: 2px;
  margin-bottom: -1.00px;
  position: relative;
  width: 330.02px;
}

.main .frame-30129 {
  align-items: center;
  display: inline-flex;
  gap: 35px;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.main .sap {
  height: 32px;
  margin-top: -1.00px;
  width: 103px;
}

.main .sap-se {
  height: 21px;
  width: 84px;
}

.main .text-10 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .frame-30130 {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-top: 6px;
  position: relative;
}

.main .dpw {
  color: var(--label-colorlightprimary);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 103px;
}

.main .deutsche-post {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 93px;
}

.main .text-12 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .frame-301 {
  align-items: center;
  display: inline-flex;
  gap: 35px;
  margin-top: 6px;
  position: relative;
}

.main .place-5 {
  height: 32px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 103px;
}

.main .basf {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .text-14 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .ifx {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 103px;
}

.main .infineon {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .text-16 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .vow3 {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 103px;
}

.main .volkswagen {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .text-18 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .flex-col-2 {
  width: 341px;
}

.main .top-losers {
  color: var(--eerie-black);
  font-family: var(--font-family-manrope);
  font-size: 19px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 315px;
}

.main .frame-30134 {
  align-items: center;
  display: flex;
  gap: 35px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  width: 330px;
}

.main .rwe {
  height: 32px;
  margin-top: -1.00px;
  width: 103px;
}

.main .rwe-ag {
  height: 21px;
  width: 84px;
}

.main .text-11 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .frame-30135 {
  align-items: center;
  display: flex;
  gap: 35px;
  margin-top: 6px;
  overflow: hidden;
  position: relative;
  width: 333px;
}

.main .sie {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 103px;
}

.main .place-6 {
  height: 21px;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .text-13 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .bmw {
  height: 32px;
  margin-top: -1.00px;
  width: 103px;
}

.main .bmw-ag {
  height: 21px;
  width: 84px;
}

.main .text-15 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .ads {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 103px;
}

.main .adidas {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .text-17 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .alv {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 103px;
}

.main .allianz {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .text-19 {
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 84px;
}

.main .frame-30139-1 {
  align-items: flex-start;
  background-color: var(--label-colordarkprimary);
  border: 1px solid;
  border-color: var(--gray-nurse);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 733px;
  margin-top: 5px;
  overflow: hidden;
  padding: 17px 10px;
  position: relative;
  width: 380px;
}

.main .news {
  align-self: stretch;
  color: var(--label-colorlightprimary);
  font-weight: 600;
  height: 48px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.main .tesla-shares-surge-a {
  height: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 360px;
}

.main .frame-30141 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.main .tesla-stock-rose-by {
  height: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 210px;
}

.main .x2025-06-01-035045-1 {
  height: 79px;
  object-fit: cover;
  position: relative;
  width: 112.73px;
}

.main .apple-announces-ai-p {
  align-self: stretch;
  height: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.main .frame-30140 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 29px;
  position: relative;
  width: 100%;
}

.main .apple-revealed-a-new {
  height: 109px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 195px;
}

.main .apple_-intelligence_-hero_-image-1 {
  height: 87px;
  position: relative;
  width: 125px;
}

.main .stocks-to-watch-in-june-2025 {
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 360px;
}

.main .frame-30142 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.main .in-may-2025-us-st {
  height: 74px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  width: 195px;
}

.main .x2025-06-01-035817-1 {
  height: 75px;
  object-fit: cover;
  position: relative;
  width: 135.12px;
}

.main .microsoft-stock-clim {
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: 360px;
}

.main .frame-30143 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  margin-bottom: -1.00px;
  position: relative;
  width: 100%;
}

.main .microsoft-shares-ros {
  height: 121px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 195px;
}

.main .x2025-06-01-035817-1-1 {
  height: 121px;
  object-fit: cover;
  position: relative;
  width: 135.12px;
}

.main .base-graph-3 {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  margin-right: -1.50px;
  position: relative;
  width: 100%;
}

.main .bmw-1 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.main .change-6 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.main .flex {
  align-items: flex-start;
  display: flex;
}

.main .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 263px;
}

.main .place-7 {
  letter-spacing: 0;
  line-height: normal;
}

.main .popular-2 {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.main .rwe-1 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.main .sap-1 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.main .symbol-5 {
  letter-spacing: 0;
  line-height: normal;
}
